@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Header
4. Menu
5. Home
6. Intro
7. Why
8. CTA
9. Services
10. Extra
11. Newsletter
12. Footer


******************************/

/***********
1. Fonts
***********/

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900');

/*********************************
2. Body and some general stuff
*********************************/

*
{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
body
{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 400;
	background: #FFFFFF;
	color: #a5a5a5;
}
div
{
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul
{
	list-style: none;
	margin-bottom: 0px;
}
p
{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	line-height: 2.14;
	font-weight: 500;
	color: #828282;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a
{
	display: inline;
	position: relative;
	color: inherit;
	border-bottom: solid 1px #ffa07f;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
p:last-of-type
{
	margin-bottom: 0;
}
a
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
a, a:hover, a:visited, a:active, a:link
{
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a:active
{
	position: relative;
	color: #FF6347;
}
p a:hover
{
	color: #FFFFFF;
	background: #ffa07f;
}
p a:hover::after
{
	opacity: 0.2;
}
::selection
{
	background: rgba(87,204,195,0.75);
	color: #FFFFFF;
}
p::selection
{
	
}
h1{font-size: 60px;}
h2{font-size: 48px;}
h3{font-size: 36px;}
h4{font-size: 24px;}
h5{font-size: 18px;}
h1, h2, h3, h4, h5, h6
{
	font-family: 'Montserrat', sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
	line-height: 1.2;
	color: #404040;
}
h1::selection, 
h2::selection, 
h3::selection, 
h4::selection, 
h5::selection, 
h6::selection
{
	
}
.form-control
{
	color: #db5246;
}
section
{
	display: block;
	position: relative;
	box-sizing: border-box;
}
.clear
{
	clear: both;
}
.clearfix::before, .clearfix::after
{
	content: "";
	display: table;
}
.clearfix::after
{
	clear: both;
}
.clearfix
{
	zoom: 1;
}
.float_left
{
	float: left;
}
.float_right
{
	float: right;
}
.trans_200
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.trans_300
{
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.trans_400
{
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.trans_500
{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.fill_height
{
	height: 100%;
}
.super_container
{
	width: 100%;
	overflow: hidden;
}
.prlx_parent
{
	overflow: hidden;
}
.prlx
{
	height: 130% !important;
}
.parallax-window
{
    min-height: 400px;
    background: transparent;
}
.parallax_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.background_image
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.nopadding
{
	padding: 0px !important;
}
.button
{
	height: 46px;
	border-radius: 20px;
}
.button a
{
	display: block;
	padding-left: 40px;
	padding-right: 36px;
	line-height: 42px;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 600;
}
.button_1
{
	background: #fd556d;
	border: solid 2px transparent;
}
.button_1 a
{
	color: #FFFFFF;
}
.button_1:hover
{
	background: transparent;
	border: solid 2px #fd556d;
}
.button_1:hover a
{
	color: #fd556d;
}
.button_2
{
	background: transparent;
	border: solid 2px #57ccc3;
}
.button_2 a
{
	color: #57ccc3;
}
.button_2:hover
{
	background: #57ccc3;
}
.button_2:hover a
{
	color: #FFFFFF;
}
.section_subtitle
{
	font-size: 18px;
	font-weight: 500;
	color: #a6abb2;
	line-height: 0.75;
}
.section_title
{
	margin-top: 9px;
}
.intro_text
{
	margin-top: 32px;
}

/*********************************
3. Header
*********************************/

.header
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	z-index: 100;
	background: #FFFFFF;
}
.header_content
{
	width: 100%;
	height: 117px;
	padding-left: 100px;
	padding-right: 102px;
}
.header.scrolled .header_content
{
	height: 75px;
	box-shadow: 0px 5px 15px rgba(87,204,195,0.15);
}
.logo a > div:first-child
{
	font-size: 30px;
	font-weight: 700;
	line-height: 0.75;
	color: #353535;
}
.logo a > div:first-child span
{
	color: #57ccc3;
	margin-left: 7px;
}
.logo a > div:last-child
{
	font-size: 20px;
	font-weight: 700;
	line-height: 0.75;
	margin-top: 6px;
	color: #57ccc3;
}
.main_nav
{
	margin-left: 226px;
}
.main_nav ul li a
{
	font-size: 15px;
	font-weight: 600;
	color: #404040;
	white-space: nowrap;
}
.main_nav ul li a:hover,
.main_nav ul li.active a
{
	color: #57ccc3;
}
.main_nav ul li:not(:last-child)
{
	margin-right: 33px;
}
.work_hours
{
	font-size: 15px;
	font-weight: 600;
	color: #404040;
	margin-right: 26px;
	white-space: nowrap;
}
.header_phone
{
	height: 46px;
	border-radius: 20px;
	background: #57ccc3;
	padding-left: 40px;
	padding-right: 36px;
	line-height: 46px;
	font-size: 14px;
	font-weight: 600;
	color: #FFFFFF;
	margin-right: 12px;
}
.header_phone::selection
{
	background: rgba(64,64,64,0.75);
}
.header_button
{
	margin-right: 16px;
}
.social ul li
{
	width: 34px;
	height: 34px;
	border-radius: 50%;
	background: #e6ebf1;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.social ul li:hover
{
	background: #57ccc3;
}
.social ul li:hover a i
{
	color: #FFFFFF;
}
.social ul li:not(:last-of-type)
{
	margin-right: 15px;
}
.social ul li a
{
	display: block;
	width: 100%;
	height: 100%;
	line-height: 34px;
	text-align: center;
}
.social ul li a i
{
	font-size: 16px;
	color: #404040;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.hamburger
{
	display: none;
	cursor: pointer;
	border: solid 1px transparent;
	border-radius: 7px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.hamburger:hover
{
	border: solid 1px rgba(0,0,0,0.05);
}
.hamburger i
{
	font-size: 20px;
	color: #404040;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 7px;
	padding-right: 7px;
}

/*********************************
4. Menu
*********************************/

.menu
{
	position: fixed;
	top: 0;
	right: -350px;
	width: 350px;
	height: 100vh;
	background: #57ccc3;
	z-index: 102;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 50px;
}
.menu.active
{
	right: 0;
}
.menu_overlay
{
	position: fixed;
	top: 0;
	right: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(255,255,255,0.75);
	z-index: 101;
	visibility: hidden;
	opacity: 0;
}
.menu_overlay.active
{
	visibility: visible;
	opacity: 1;
}
.menu_close_container
{
	position: absolute;
    top: 41px;
    left: 28px;
    width: 18px;
    height: 18px;
    transform-origin: center center;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    cursor: pointer;
    z-index: 1;
}
.menu_close
{
    width: 100%;
    height: 100%;
    transform-style: preserve-3D;
}
.menu_close div
{
    width: 100%;
    height: 2px;
    background: #FFFFFF;
    top: 8px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.menu_close div:last-of-type
{
    -webkit-transform: rotate(90deg) translateX(-2px);
    -moz-transform: rotate(90deg) translateX(-2px);
    -ms-transform: rotate(90deg) translateX(-2px);
    -o-transform: rotate(90deg) translateX(-2px);
    transform: rotate(90deg) translateX(-2px);
    transform-origin: center;
}
.menu_close:hover div
{
    background: #1befc5;
}
.menu_nav
{
	margin-top: 75px;
}
.menu_nav ul li:not(:last-child)
{
	margin-bottom: 1px;
}
.menu_nav ul li a
{
	font-size: 24px;
	font-weight: 500;
	color: rgba(255,255,255,0.75);
}
.menu_nav ul li a:hover
{
	color: #1befc5;
}
.menu_social
{
	position: absolute;
	bottom: 30px;
	left: 30px;
}
.menu_social ul li:hover
{
	background: #404040;
}
.menu_social ul li:hover a i
{
	color: #FFFFFF;
}
.menu_extra
{
	margin-top: 50px;
}
.menu_extra > div:not(:last-child)
{
	margin-bottom: 5px;
}
.menu_link,
.menu_link a
{
	font-size: 13px;
	font-weight: 500;
	color: rgba(255,255,255,0.75);
}
.menu_link a:hover
{
	color: #FFFFFF;
}

/*********************************
5. Home
*********************************/

.home
{
	width: 100%;
	height: 768px;
	margin-top: 117px;
}
.home_slider_container
{
	width: 100%;
	height: 100%;
}
.home_container
{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	left: 0;
	width: 100%;
}
.home_content
{
	max-width: 550px;
	
}
.home_content.grey_background {
	background: linear-gradient(rgba(160,160, 160, 0.10), rgba(160, 160, 160, 0.2));
}
.home_subtitle
{
	font-size: 30px;
	color: #57ccc3;
	font-weight: 600;
	line-height: 1.1;
}
.home_title
{
	font-size: 60px;
	color: #404040;
	line-height: 1.2;
	font-weight: 500;
	margin-top: -2px;
}
.home_text
{
	margin-top: 11px;
}

.home_text .grey_background {
	color: #e8e8e8;
	font-weight: bold;
}

.home_buttons
{
	margin-top: 36px;
}
.home_buttons > div:not(:last-child)
{
	margin-right: 10px;
}
.home_slider_dots
{
	position: absolute;
	bottom: 53px;
	left: calc((100vw - 1140px) / 2);
	z-index: 1;
}
.home_slider_custom_dot
{
	width: 8px;
	height: 8px;
	background: #b4b4b4;
	border-radius: 50%;
	cursor: pointer;
}
.home_slider_custom_dot.active,
.home_slider_custom_dot:hover
{
	background: #57ccc3;
}
.home_slider_custom_dot:not(:last-child)
{
	margin-right: 8px;
}

/*********************************
6. Intro
*********************************/

.intro
{
	width: 100%;
	background: #FFFFFF;
	padding-top: 89px;
	padding-bottom: 90px;
}
.intro_content
{
	padding-top: 30px;
}
.milestones
{
	margin-top: 85px;
}
.milestone_counter
{
	font-size: 36px;
	font-weight: 700;
	color: #57ccc3;
	line-height: 0.75;
}
.milestone_text
{
	font-size: 18px;
	font-weight: 600;
	color: #404040;
	line-height: 1.5;
	margin-top: 5px;
}
.intro_form_container
{
	width: 100%;
	background: #FFFFFF;
	padding-left: 33px;
	padding-right: 34px;
	padding-bottom: 63px;
	padding-top: 136px;
	box-shadow: 0px 25px 38px rgba(0,0,0,0.2);
}
.intro_form_title
{
	position: absolute;
	top: 0;
	left: 0;
	width: 336px;
	height: 80px;
	background: #57ccc3;
	line-height: 80px;
	text-align: center;
	font-size: 24px;
	font-weight: 600;
	color: #FFFFFF;
}
.intro_form
{
	width: 100%;
}
.intro_input
{
	width: calc((100% - 15px) / 2);
	height: 62px;
	background: transparent;
	border: solid 2px #e6ebf1;
	margin-bottom: 18px;
	padding-left: 25px;
	outline: none;
	font-size: 15px;
	color: #404040;
	font-weight: 500;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.intro_select
{
	-webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    -webkit-user-select: none;
    font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #a09f9f !important;
	cursor: pointer;
}
.intro_select.selected
{
	font-size: 15px !important;
	color: #404040 !important;
	font-weight: 500 !important;
	font-style: normal !important;
}
.intro_select option
{
	color: #404040;
}
.intro_input:focus,
.intro_input:hover
{
	border: solid 2px #57ccc3;
}
.intro_input::-webkit-input-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #a09f9f !important;
}
.intro_input:-moz-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #a09f9f !important;
}
.intro_input::-moz-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #a09f9f !important;
} 
.intro_input:-ms-input-placeholder
{ 
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #a09f9f !important;
}
.intro_input::input-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #a09f9f !important;
}
.intro_button
{
	width: 100%;
	font-size: 14px;
	font-weight: 700;
	color: #FFFFFF;
	text-transform: uppercase;
	border: solid 2px transparent;
	cursor: pointer;
}
.intro_button:hover
{
	background: transparent;
	border: solid 2px #fd556d;
	color: #fd556d;
}

/*********************************
7. Why
*********************************/

.why
{
	width: 100%;
	background: #eff3f7;
}
.why_content
{
	padding-top: 102px;
	padding-bottom: 90px;
}
.why_text
{
	margin-top: 33px;
}
.why_list
{
	margin-top: 37px;
}
.why_list ul li:not(:last-of-type)
{
	margin-bottom: 31px;
}
.icon_container
{
	width: 61px;
	height: 61px;
	border-radius: 50%;
	background: #6bdbd2;
}
.icon
{
	width: 32px;
	height: 32px;
}
.icon img
{
	max-width: 100%;
}
.why_list_content
{
	padding-left: 37px;
}
.why_list_title
{
	font-size: 18px;
	font-weight: 600;
	color: #404040;
	line-height: 1.2;
}
.why_list_text
{
	font-size: 14px;
	font-weight: 500;
	color: #868686;
}
.why_image_container
{
	width: 100%;
	height: 100%;
}
.why_image
{
	position: absolute;
	bottom: 20px;
	right: 20px;
}

.about {
	padding: 8em 0;
}

/*********************************
8. CTA
*********************************/

.cta
{
	width: 100%;
	background: #fd556d;
	padding-top: 49px;
	padding-bottom: 46px;
}
.cta_title
{
	font-size: 36px;
	font-weight: 600;
	color: #FFFFFF;
	line-height: 1.2;
}
.cta_text
{
	font-size: 14px;
	font-weight: 500;
	color: #FFFFFF;
	line-height: 2;
	margin-top: -1px;
}
.cta_phone
{
	height: 59px;
	padding-left: 24px;
	padding-right: 25px;
	line-height: 59px;
	text-align: center;
	font-size: 30px;
	font-weight: 600;
	color: #fff;
	background: #ee4860;
	border-radius: 19px;
	white-space: nowrap;
}

/*********************************
9. Services
*********************************/

.services
{
	background: #FFFFFF;
	padding-top: 91px;
	padding-bottom: 25px;
}
.services_row
{
	margin-top: 68px;
}
.service_col
{
	margin-bottom: 55px;
}
.service_title
{
	font-size: 20px;
	font-weight: 600;
	color: #404040;
	line-height: 1.2;
	margin-top: 17px;
}
.service_text
{
	margin-top: 21px;
}

/*********************************
10. Extra
*********************************/

.extra
{
	padding-top: 54px;
	padding-bottom: 53px;
}
.extra_container
{
	
}
.extra_content
{
	background: #FFFFFF;
	width: 393px;
	padding-top: 74px;
	padding-left: 46px;
	padding-right: 30px;
	padding-bottom: 63px;
	box-shadow: 0px 25px 38px rgba(0,0,0,0.2);
}
.extra_disc > div:first-child
{
	font-size: 60px;
	font-weight: 700;
	color: #6bdbd2;
	line-height: 0.75;
}
.extra_disc > div:last-child
{
	font-size: 24px;
	font-weight: 500;
	color: #979797;
	line-height: 0.75;
}
.extra_disc > div:first-child span
{
	display: inline-block;
	font-size: 36px;
	font-weight: 400;
	vertical-align: super;
}
.extra_title
{
	font-size: 72px;
	font-weight: 600;
	color: #404040;
	margin-top: 16px;
	line-height: 1.11;
}
.extra_text
{
	margin-top: 20px;
}
.extra_link
{
	display: inline-block;
	margin-top: 47px;
}

/*********************************
11. Newsletter
*********************************/

.newsletter
{
	padding-top: 56px;
	padding-bottom: 82px;
}
.newsletter_title
{
	font-size: 30px;
	font-weight: 500;
	color: #fff;
	line-height: 1.2;
}
.newsletter_row
{
	margin-top: 54px;
}
.newsletter_input
{
	width: calc(100% - 150px);
	height: 46px;
	background: transparent;
	border: solid 2px #e6ebf1;
	color: #FFFFFF;
	padding-left: 34px;
	outline: none;
}
.newsletter_input::-webkit-input-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #FFFFFF !important;
}
.newsletter_input:-moz-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #FFFFFF !important;
}
.newsletter_input::-moz-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #FFFFFF !important;
} 
.newsletter_input:-ms-input-placeholder
{ 
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #FFFFFF !important;
}
.newsletter_input::input-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #FFFFFF !important;
}
.newsletter_button
{
	position: absolute;
	top: 0;
	right: 0;
	width: 167px;
	height: 46px;
	border-radius: 19px;
	background: #fd556d;
	cursor: pointer;
	border: none;
	outline: none;
	font-size: 14px;
	font-weight: 600;
	color: #fff;
	text-transform: uppercase;
}

/*********************************
12. Footer
*********************************/

.footer
{
	display: block;
	position: relative;
	background: #26292d;
}
.footer_content
{
	padding-top: 24px;
	padding-bottom: 21px;
}
.footer_about
{
	padding-top: 19px;
}
.footer_logo a > div:first-child
{
	font-size: 30px;
	font-weight: 700;
	line-height: 0.75;
	color: #FFFFFF;
}
.footer_logo a > div:first-child span
{
	color: #57ccc3;
}
.footer_logo a > div:last-child
{
	font-size: 20px;
	color: #FFFFFF;
	font-weight: 700;
	line-height: 0.75;
	margin-top: 6px;
}
.footer_about_text
{
	margin-top: 32px;
}
.footer_about_text p
{
	color: #868686;
}
.footer_title
{
	font-size: 16px;
	font-weight: 500;
	color: #FFFFFF;
	line-height: 1.2;
}
.footer_contact
{
	padding-top: 40px;
}
.contact_list
{
	margin-top: 34px;
}
.contact_list li
{
	font-size: 15px;
	font-weight: 500;
	color: #878787;
}
.contact_list li:not(:last-child)
{
	margin-bottom: 12px;
}
.footer_location
{
	padding-top: 40px;
}
.locations_list
{
	max-width: 180px;
	margin-top: 32px;
}
.locations_list li
{
	line-height: 1.6;
}
.locations_list li:not(:last-child)
{
	margin-bottom: 19px;
}
.location_title
{
	font-size: 15px;
	font-weight: 500;
	color: #57ccc3;
}
.location_text
{
	margin-top: 13px;
}
.opening_hours
{
	left: -32px;
	width: calc(100% + 67px);
	padding-left: 32px;
	padding-right: 35px;
	padding-top: 38px;
	padding-bottom: 40px;
	border: solid 2px #4d5157;
}
.opening_hours_list
{
	margin-top: 44px;
}
.opening_hours_list li
{
	white-space: nowrap;
}
.opening_hours_list li:not(:last-child)
{
	margin-bottom: 9px;
}
.footer_bar
{
	width: 100%;
	background: #181a1d;
}
.footer_bar_content
{
	height: 49px;
}
.copyright
{
	font-size: 12px;
	font-weight: 500;
	color: #646464;
}
.footer_nav ul li:not(:last-child)
{
	margin-right: 29px;
}
.footer_nav ul li a
{
	font-size: 12px;
	font-weight: 500;
	color: #818181;
}
.footer_nav ul li a:hover
{
	color: #57ccc3;
}


.contact
{
	background: #FFFFFF;
	padding-top: 51px;
	padding-bottom: 90px;
}
.contact_form_container
{
	width: 100%;
	background: #FFFFFF;
	padding-left: 33px;
	padding-right: 34px;
	padding-bottom: 63px;
	padding-top: 136px;
	box-shadow: 0px 25px 38px rgba(0,0,0,0.2);
}
.contact_form_title
{
	position: absolute;
	top: 0;
	left: 0;
	width: 336px;
	height: 80px;
	background: #57ccc3;
	line-height: 80px;
	text-align: center;
	font-size: 24px;
	font-weight: 600;
	color: #FFFFFF;
}
.contact_form
{
	width: 100%;
}
.contact_input
{
	width: calc((100% - 15px) / 2);
	height: 62px;
	background: transparent;
	border: solid 2px #e6ebf1;
	margin-bottom: 18px;
	padding-left: 25px;
	outline: none;
	font-size: 15px;
	color: #404040;
	font-weight: 500;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.contact_select
{
	-webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    -webkit-user-select: none;
    font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #a09f9f !important;
	cursor: pointer;
}
.contact_select.selected
{
	font-size: 15px !important;
	color: #404040 !important;
	font-weight: 500 !important;
	font-style: normal !important;
}
.contact_select option
{
	color: #404040;
}
.contact_input:focus,
.contact_input:hover
{
	border: solid 2px #57ccc3;
}
.contact_input::-webkit-input-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #a09f9f !important;
}
.contact_input:-moz-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #a09f9f !important;
}
.contact_input::-moz-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #a09f9f !important;
} 
.contact_input:-ms-input-placeholder
{ 
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #a09f9f !important;
}
.contact_input::input-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #a09f9f !important;
}
.contact_button
{
	width: 100%;
	font-size: 14px;
	font-weight: 700;
	color: #FFFFFF;
	text-transform: uppercase;
	border: solid 2px transparent;
	cursor: pointer;
	margin-top: 24px;
}
.contact_button:hover
{
	background: transparent;
	border: solid 2px #fd556d;
	color: #fd556d;
}
.contact_content_title
{
	font-size: 30px;
	font-weight: 600;
	color: #404040;
	line-height: 1.2;
	margin-top: 32px;
}
.contact_content_text
{
	margin-top: 21px;
}
.direct_line
{
	width: 100%;
	height: 48px;
	border-radius: 24px;
	overflow: hidden;
	margin-top: 31px;
}
.direct_line_title
{
	width: 130px;
	height: 100%;
	font-size: 16px;
	font-weight: 500;
	line-height: 48px;
	color: #fff;
	background-color: #fd556d;
	white-space: nowrap;
}
.direct_line_num
{
	width: calc(100% - 130px);
	height: 100%;
	font-size: 30px;
	font-weight: 500;
	line-height: 48px;
	color: #fff;
	background: #57ccc3;
	white-space: nowrap;
}
.contact_info
{
	margin-top: 50px;
}
.contact_info ul li:not(:last-child)
{
	margin-bottom: 24px;
}
.contact_info ul li > div:first-of-type
{
	width: 90px;
	font-size: 18px;
	font-weight: 600;
	color: #57ccc3;
	line-height: 1.34;
}
.contact_info ul li > div:last-of-type
{
	max-width: 170px;
	font-size: 15px;
	font-weight: 600;
	color: #878787;
	line-height: 1.6;
}
.contact_social
{
	margin-top: 43px;
}
.contact_social ul li:not(:last-of-type)
{
	margin-right: 22px;
}
.contact_social ul li a i
{
	color: #404040;
	padding: 5px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.contact_social ul li a i:hover
{
	color: #57ccc3;
}
.google_map_row
{
	margin-top: 90px;
}
.contact_map
{
	width: 100%;
}
.map
{
	width: 100%;
}
.google_map
{
	width: 100%;
	height: 570px;
}
.map_container
{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#map
{
	width: 100%;
	height: calc(100% + 30px);
}






.blog
{
	background: #FFFFFF;
	padding-top: 91px;
	padding-bottom: 83px;
}
.blog_post:not(:last-child)
{
	margin-bottom: 87px;
}
.blog_post_image
{
	width: 100%;
	border-radius: 40px;
	overflow: hidden;
}
.blog_post_image img
{
	max-width: 100%;
}
.blog_post_date
{
	position: absolute;
	top: 8px;
	left: 9px;
	width: 90px;
	height: 118px;
	background-color: #57ccc3;
	border-radius: 40px;
	border: solid 2px #eaf2f5;
}
.blog_post_date > div
{
	font-weight: 600;
	color: #FFFFFF;
	line-height: 0.75;
}
.date_day
{
	font-size: 42px;
}
.date_month,
.date_year
{
	font-size: 12px;
}
.date_month
{
	margin-top: 10px;
}
.date_year
{
	margin-top: 11px;
}
.blog_post_title
{
	text-align: center;
	margin-top: 45px;
}
.blog_post_title a
{
	font-size: 30px;
	font-weight: 600;
	color: #404040;
	line-height: 1.2;
}
.blog_post_title a:hover
{
	color: #57ccc3;
}
.blog_post_info
{
	margin-top: 9px;
}
.blog_post_info ul li:not(:last-child)
{
	margin-right: 24px;
}
.blog_post_info ul li,
.blog_post_info ul li a
{
	font-size: 14px;
	font-weight: 600;
	color: #868686;
}
.blog_post_info ul li a
{
	color: #57ccc3;
}
.blog_post_info ul li a:hover
{
	color: #fd556d;
}
.blog_post_text
{
	margin-top: 32px;
}
.blog_post_button
{
	margin-top: 38px;
}

.blog_post_button.subtitle {
	font-size: 30px;
}

.blog_post_button > div
{
	display: inline-block;
}
.page_nav
{
	margin-top: 85px;
}
.page_nav ul li a
{
	font-size: 16px;
	font-weight: 600;
	color: #404040;
}
.page_nav ul li:not(:last-child)
{
	margin-right: 10px;
}
.page_nav ul li.active a,
.page_nav ul li a:hover
{
	color: #57ccc3;
}

/*********************************
6.2 Elements - Accordions
*********************************/

.accordions_and_tabs
{
	margin-top: 80px;
}
.accordidons_and_tabs_row
{
	margin-top: 61px;
}
.accordion_container:not(:last-child)
{
	margin-bottom: 12px;
}
.accordion
{
	height: 46px;
	width: 100%;
	background: #57ccc3;
	padding-left: 35px;
	cursor: pointer;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 46px;
	border-radius: 20px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.accordion div
{
	max-width: 90%;
	overflow: hidden;
	white-space: nowrap;
}
.accordion::after
{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 0;
	width: 50px;
	height: 100%;
	content: '+';
	font-size: 14px;
	color: #FFFFFF;
	font-weight: 500;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.accordion.active
{
	background: #fd556d;
	color: #FFFFFF;
}
.accordion.active::after
{
	content: '-';
	color: #FFFFFF;
}
.accordion_panel
{
	padding-right: 8px;
	max-height: 0px;
	overflow: hidden;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.accordion_panel > div
{
	padding-bottom: 5px;
}
.accordion_panel p
{
	font-size: 14px;
	font-weight: 500;
	padding-top: 26px;
	padding-left: 3px;
	color: #868686;
	line-height: 2.14;
}




.slideshow-container, .slideshow-container * {
	box-sizing:border-box
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white !important;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: #57ccc3;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.slideshow-container .active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}